h3 {
    text-align: center;
}

.colorBox {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputContainers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
    box-shadow: 2px 2px 2px black;
}

.colorBox {
    margin-top: 10px;
    box-shadow: 3px 3px 3px black;
}

.inputAndBtn {
    display: flex;
    margin: 5px;
}